body{
    width:80%;
    background-color: #d9edf7;
}
h1{
    padding-left: 20%;
    padding-top: 5%;
    text-align-all: center;
    font-size: x-large;
    font-family: "Comic Sans MS";

}
div{

    color: #761c19;
    font-size: medium;
    font-family: "Comic Sans MS";

}
button{
    width:48%;
    background-color: #4cae4c;
    color: white;
    float: left;
    font-size: large;
    font-family: "Comic Sans MS";

}

form{
    font-size: smaller;

}


map{
    float: left;
}
script{
    font-size:smaller;
    font-family: "Times New Roman";
}
footer{

    padding-top: 32%;
    width:20%;
}